<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2022 NetEase, Inc. All rights reserved.
  ~ Use of this source code is governed by a MIT license that can be
  ~ found in the LICENSE file.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.netease.yunxin.app.oneonone">
    <!--    //网络相关-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--    //防止通话过程中锁屏-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--    //视频权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--    //录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--    //修改音频设置-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--    //蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--    //外置存储卡写入权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--    //蓝牙 startBluetoothSco 会用到此权限-->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!--    //获取设备信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--    //允许应用程序使用camera硬件资源-->
    <uses-feature android:name="android.hardware.camera" />
    <!--    //自动对焦-->
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 8.0+系统需要-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- 下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <permission
        android:name="${applicationId}.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.RECEIVE_MSG" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name=".OneOnOneApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/one_on_one_app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/OneOnOne">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="02266a1c23b5c2ddd04e8dc64a228505" />
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"
            tools:replace="android:value" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/LaunchTheme"
            android:screenOrientation="portrait"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CommonSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.netease.yunxin.app.oneonone.activity.SampleLoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.SampleBeautySettingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"/>

        <!--        // 云信IM-->
        <!-- 云信后台服务，请使用独立进程。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />

        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />

        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" />

        <!-- 云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />

        <!-- 云信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService" />

        <!-- 云信进程间通信provider -->
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.netease.yunxin.app.oneonone.ipc.provider"
            android:exported="false"
            android:process=":core" />

        <!-- 云信内部使用的进程间通信provider -->
        <!-- SDK启动时会强制检测该组件的声明是否配置正确，如果检测到该声明不正确，SDK会主动抛出异常引发崩溃 -->
        <provider
            android:name="com.netease.nimlib.ipc.cp.provider.PreferenceContentProvider"
            android:authorities="com.netease.yunxin.app.oneonone.ipc.provider.preference"
            android:exported="false" />

        <service android:name="com.netease.lava.nertc.foreground.ForegroundService"
            android:foregroundServiceType="microphone|camera"
            android:enabled="true"
            android:exported="false"
            />

    </application>

</manifest>